{% extends "base.html" %} 
{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "/css/base.css" %}' />
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <img src="{{MEDIA_URL}}kemp.jpg" class="rounded-circle thumbnail">
                    <h2> About Kemp Po</h2>
                </div>
                <p>
                    I got a Bachelor's in Computer Science with a specialization 
                    in Data Science and Analytics at Ateneo de Manila University.
                    Currently, I work at 
                    <a href="https://www.firstcircle.ph/" style="font-weight:bold;text-decoration: underline;">First Circle</a>, 
                    a startup working towards financial inclusion for small and 
                    medium enterprises, as a Data Analyst. 
                </p>
                <p>
                    I am a data person and problem solver that enjoys developing
                    data products where they are needed. I'm passionate about 
                    leveraging data to improve people's lives.
                </p>
                <div class="site-heading">
                    <h2> About this website</h2>
                </div>
                <p>
                    Initially, this was just supposed to be a project never to 
                    be deployed, but instead just a way for me to start learning
                    web frameworks on languages that I'm much more proficient in.
                </p> 
                <p> 
                    Surely, there were many other much simpler ways of 
                    creating this blog, but it is another way for me to sharpen 
                    my skills and expand my knowledge.
                </p>
                <p> 
                    At some point, I realized that I had thoughts and 
                    practices that I wanted to share to the world especially in
                    the budding data community in the Philippines, where many
                    people come from the non-CS side of things.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h2>📧 Contact</h2>
                    <p>Reach out to me at:</p>
                </div>
                <ul class="text-light">
                    <li>
                        <a href="https://www.linkedin.com/in/kemp-po/">
                            <p>
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </p>
                        </a>
                    </li>
                </ul>
                <div class="site-heading">
                    <p>Find some of my public work and projects</p>
                </div>
                <ul>
                    <li>
                        <a href="https://github.com/kempspo">
                            <p>
                                <i class="fab fa-github"></i> Github
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
{%endblock%}