{% extends "base.html" %} 
{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "/css/base.css" %}' />
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="text-white mt-3"> About me</h2>
                </div>
                <p class="text-light"> blah blah blah</p>
            </div>
        </div>
    </div>
</header>
{%endblock%}