{% extends "base.html" %} 
{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "/css/base.css" %}' />
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>📧 Contact</h2>
                    <p>Reach out to me </p>
                </div>
                <h3 class="text-light"> Social</h3>
                <ul class="text-light">
                    <li>
                        <a href="https://www.linkedin.com/in/kemp-po/">
                            <p>
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/kempspo">
                            <p>
                                <i class="fab fa-github"></i> Github
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
{%endblock%}