{% extends "base.html" %} 
{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "/css/base.css" %}' />
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <!-- <h2 class=" site-heading my-4 mt-3 text-white"> &#x1f44b Hello </h2> -->
                    <h2>✒️ Blog Posts</h2>
                    <p>Posts about tech and data </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="mt-3">
            {% for post in posts|slice:3 %}
            <a href="{% url 'post_detail' slug=post.slug %}">
                <div class="card mb-4" >
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.created_on | date:"d M Y" }} </p>
                        <img src="{{ post.background_image.url }}" class="thumbnail">
                        <p class="card-text">{{ post.formatted_markdown|safe|slice:":200" }}</p>
                        <div style="display:flex mb-4">
                            {% for tag in post.tag.all %}
                            <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'post_list' %}"> <p class="see"> See all blog posts </p> </a>
</div>
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h2>📒 Notes</h2>
                    <p>Unstructured thoughts, ideas, and solutions</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="mt-3">
            {% for note in notes|slice:3 %}
            <a href="{% url 'note_detail' slug=note.slug %}">
                <div class="card mb-4" >
                    <div class="card-body">
                        <h2 class="card-title">{{ note.title }}</h2>
                        <p class="card-text">{{ note.created_on | date:"d M Y" }} </p>
                        <p class="card-text">{{ note.formatted_markdown|safe|slice:":200" }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'note_list' %}"> <p class="see"> See all notes </p> </a>
</div>
{%endblock%}
